<div class="reveal">
			<div class="slides">
				<section class="stack"><section><div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 250px; height: auto;" data-block-id="12a1750b4e8a335f36664a3d256e211e"><div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;"><h1>Title Text</h1></div></div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 946.075085324232px; height: 630px; left: 7px; top: 70px;" data-block-id="67cff77b708534a2277862db899d58fb"><div class="sl-block-content" style="z-index: 12;"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vladkolesnyk/images/946201/481__880.jpg" style="visibility: visible;" data-natural-width="880" data-natural-height="586"></div></div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 170px; top: 17px;" data-block-id="3f51ae5c0c151175ef0926ed1dbb8109"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
<p>Example how to control your presentation from phone or watch..</p>
</div></div></section><section><div class="sl-block" data-block-type="text" style="width: 800px; left: 79px; top: 0px; height: auto;" data-block-id="1f36f702c12e218a3074a5215df0e442"><div class="sl-block-content" data-placeholder-tag="h2" data-placeholder-text="Title Text">
<h2>Swipe Left/Right/Top/Bottom..</h2>
</div></div>
<div class="sl-block" data-block-type="image" style="width: 854.470989761092px; height: 569px; left: 66.5290102389079px; top: 154px;" data-block-id="cc45aa9ab357461ace87aca0a7bda23a"><div class="sl-block-content"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vladkolesnyk/images/946222/306__880.jpg" style="visibility: visible;" data-natural-width="880" data-natural-height="586"></div></div></section><section><div class="sl-block" data-block-type="text" style="width: 800px; left: 74px; top: 15px; height: auto;" data-block-id="a879127dce01c81df2e1805aeb7c9092"><div class="sl-block-content" data-placeholder-tag="h2" data-placeholder-text="Title Text">
<h2>not the end</h2>
</div></div>
<div class="sl-block" data-block-type="image" style="width: 842px; height: 563.565909090909px; left: 67px; top: 113.5px;" data-block-id="8d5b394b34486bc1ba8e97840195f69b"><div class="sl-block-content"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vladkolesnyk/images/946231/581__880.jpg" data-natural-width="880" data-natural-height="589" style="visibility: visible;"></div></div></section></section><section class="stack"><section><div class="sl-block" data-block-type="text" style="width: 800px; left: 66px; top: 1px; height: auto;" data-block-id="6998bbdf90234657d64832684755ff65"><div class="sl-block-content" data-placeholder-tag="h2" data-placeholder-text="Title Text">
<h2>Swipe back to the left or bottom</h2>
</div></div>
<div class="sl-block" data-block-type="image" style="width: 699.795221843003px; height: 466px; left: 129.204778156997px; top: 149px;" data-block-id="ede5bc2e55a28f44819675d3f9868a62"><div class="sl-block-content"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vladkolesnyk/images/946212/178__880.jpg" style="visibility: visible;" data-natural-width="880" data-natural-height="586"></div></div></section><section><div class="sl-block" data-block-type="text" style="width: 800px; left: 79px; top: 0px; height: auto;" data-block-id="cb421ac27a9c1866262e51f8a2671830"><div class="sl-block-content" data-placeholder-tag="h2" data-placeholder-text="Title Text">
<h2>Swipe down for more foxes</h2>
</div></div>
<div class="sl-block" data-block-type="image" style="width: 914.539249146758px; height: 609px; left: 30px; top: 83px;" data-block-id="434624d580658af403df9ee8cab48098"><div class="sl-block-content"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vladkolesnyk/images/946214/613__880.jpg" style="visibility: visible;" data-natural-width="880" data-natural-height="586"></div></div></section><section><div class="sl-block" data-block-type="text" style="width: 800px; left: 71px; top: 0px; height: auto;" data-block-id="96f37050857472238ead261b85a7a5a7"><div class="sl-block-content" data-placeholder-tag="h2" data-placeholder-text="Title Text">
<h2>and more..</h2>
</div></div>
<div class="sl-block" data-block-type="image" style="width: 940px; height: 625.954545454546px; left: 11px; top: 74px;" data-block-id="90cae2243be44e16650d63fab97cddde"><div class="sl-block-content"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vladkolesnyk/images/946226/454__880.jpg" style="visibility: visible;" data-natural-width="880" data-natural-height="586"></div></div></section></section><section class="stack"><section><div class="sl-block" data-block-type="text" style="width: 800px; left: 79px; top: 50px; height: auto;" data-block-id="035cfa1b4942b37a291601f2dfaa6e17"><div class="sl-block-content" data-placeholder-tag="h2" data-placeholder-text="Title Text">
<h2>Last Fox column</h2>
</div></div>
<div class="sl-block" data-block-type="image" style="width: 827.440273037543px; height: 551px; left: 79px; top: 149px;" data-block-id="8516704bd576feb78a96814cb9b11eb7"><div class="sl-block-content"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vladkolesnyk/images/946235/424__880.jpg" style="visibility: visible;" data-natural-width="880" data-natural-height="586"></div></div></section><section><div class="sl-block" data-block-type="text" style="width: 800px; left: 79px; top: 50px; height: auto;" data-block-id="04cc645881011842b8bd19473b16ea00"><div class="sl-block-content" data-placeholder-tag="h2" data-placeholder-text="Title Text">
<h2>so sad</h2>
</div></div>
<div class="sl-block" data-block-type="image" style="width: 827.440273037543px; height: 551px; left: 53px; top: 140px;" data-block-id="e211be9ae976215d8beb6b8f2490212f"><div class="sl-block-content"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vladkolesnyk/images/946238/1117__880.jpg" style="visibility: visible;" data-natural-width="880" data-natural-height="586"></div></div></section><section><div class="sl-block" data-block-type="text" style="width: 836px; left: 43px; top: 0px; height: auto;" data-block-id="14fdcf24f5dd5c314970d79a9ba79c4b"><div class="sl-block-content" data-placeholder-tag="h2" data-placeholder-text="Title Text">
<h2>The end</h2>

<p>looks like you liked them. i am pretty cool as well.</p>

<p>@VladKolesnik</p>

<p>github.com/vladk1</p>
</div></div>
<div class="sl-block" data-block-type="image" style="width: 714.81228668942px; height: 476px; left: 115.18771331058px; top: 224px;" data-block-id="0586c1d3d26c27af2bffeeb49ab0f2f9"><div class="sl-block-content"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/vladkolesnyk/images/946242/531__880.jpg" style="visibility: visible;" data-natural-width="880" data-natural-height="586"></div></div></section></section>
			</div>
		</div>