<!DOCTYPE html>
<html>
<head>

    <style type="text/css">
        #logo {
            display: inline-block;
            margin: 0px;
           
        }
        #header_title  {
            display: inline-block;
            
            text-align: top;
            padding: 0px;
        }
        #result_approx_graph {
            margin: 15px;
        }

    </style>

      <link rel="stylesheet" href="/css/app.css">

    <title></title>

   

</head>

<body>

<body>
       <div class="theme-font-montserrat theme-color-white-blue" style="width: 100%; height: 100%;">

    <div class="reveal">
        <div class="slides">
            <section>
                <div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 100%; height: 100%; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 700">
                            <rect width="960" height="700" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>



                <div class="sl-block" data-block-type="text" style="width: 100%; left: -50px; top: 100px; height: auto;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);">
                        <object id="logo" height="200px" type="image/svg+xml" data="/images/pplane2.svg">Your browser does not support SVG</object>
                        <h1 id="header_title">Paper Planes</h1>
                        
                    </div>
                </div>

                <div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 100%; left: 40px; top: 351px;">
                    <div class="sl-block-content" style="z-index: 13;">
                        <p>
                            <h3> 
                                <span style="color:rgb(255, 255, 255);">or decision making under </span>
                                <span style="color:rgb(187, 222, 251); ">uncertainty</span>
                            </h3>
                            
                        </p>
                    </div>
                </div>

                <div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 100%; left: 40px; bottom: 0px;">
                    <div class="sl-block-content" style="z-index: 13;">
                        <p>
                            <h5> 
                                <span style="margin:50px; color:rgb(187, 222, 251); ">Vlad Kolesnyk</span>
                                <span style="margin:50px; color:rgb(187, 222, 251); ">Tudor Maxim</span>
                                <span style="margin:50px;  color:rgb(187, 222, 251); ">Ernest Chen</span>
                            </h5>
                        </p>
                    </div>
                </div>


            </section>



            <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 151px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 151">
                            <rect width="100%" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="float: left; left: 40px; top: 26px; height: 150px;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Context</h2>
                    </div>
                </div>

                <div class="sl-block" data-block-type="text" style="top: 120px; height: 100%;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h4 class="color_brand" style="margin: 60px;">

                            Software development decisions involve <span class="red">uncertainty</span>

                        </h4>
                        
                        <h4 width="150px" style="margin-left: 60px;" class="color_brand_bold">
                       
                         <span class="blue">Any techniques to help us?</span>

                        </h4>
                         <img width="300px" style="" src="images/tools_picture.png">

                    </div>
                </div>
            </section>

             <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 151px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 151">
                            <rect width="100%" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="float: left; left: 40px; top: 26px; height: 150px;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Techniques</h2>
                    </div>
                </div>

            
                 <div class="sl-block" data-block-type="text" style="top: 120px; width: 100%; height: 100%;">
                    <div class="sl-block-content" style="margin-left:auto; margin-right:auto; z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h4 class="color_brand" style="margin: 80px; margin-left:auto; margin-right:auto; text-aligh:center;">
                            Intuition 
                        </h4>

                         <h4 class="color_brand" style="margin: 80px; text-aligh:center;">
                            Monte Carlo Analysis
                        </h4>

                         <h4 class="color_brand" style="margin: 80px; margin-left:auto; margin-right:auto; text-aligh:center;">
                            Decision Making Under Uncertainty
                        </h4>
                       
                    </div>
                </div>

              
            </section>



            <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 152px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 151">
                            <rect width="100%" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="float: left; left: 40px; top: 26px; height: 150px;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Problem</h2>
                    </div>
                </div>

                <div class="sl-block" data-block-type="text" style="top: 120px; height: 100%;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h4 class="color_brand" style="margin: 60px;">
                        Common techniques are <span class="red">difficult</span> to learn and rarely used.</h4>
                        
                        <img width="350px" style="margin-right:auto; margin-right:left; " src="images/sadface.gif">                
                    </div>
                </div>

            </section>


            <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 151px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 151">
                            <rect width="960" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="float: left; left: 40px; top: 26px; height: 150px;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Research Question</h2>
                    </div>
                </div>
                 <div class="sl-block" data-block-type="text" style="top: 120px; height: 100%;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        
                        

                        <h5 class="color_brand" style="margin: 60px;">
                            <span class="blue">Can we help software engineers to learn decision under uncertainty by playing games?</span>
                        </h5>
                        <img height="450px" style="margin-left: auto; margin-right: auto;" src="images/pplanes_game.jpg">  
                        
                                     
                    </div>
                </div>

            </section>


            <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 152px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 152">
                            <rect width="960" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="left: 40px; top: 26px; height: 150px;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Related Work</h2>
                    </div>
                </div>
                 <div class="sl-block" data-block-type="text" style="top: 120px; height: 100%;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h4 class="color_brand" style="margin: 60px;">Games commonly used in the introduction to Agile (XP Game)</h4>
                        <h4 class="color_brand" style="margin: 60px;">Planes can be used as a game interface to software project</h4>
                        
                    </div>
                </div>

            </section>

             <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 151px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 151">
                            <rect width="100%" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="float: left; left: 40px; top: 26px; height: 150px;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Game</h2>
                    </div>
                </div>

                <div class="sl-block" data-block-type="text" style="top: 120px; width: 100%; height: 100%;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <img width="100%" height="100%" src="images/hm.gif">           
                    </div>
                </div>

              
            </section>



            <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 152px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 152">
                            <rect width="960" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="left: 40px; top: 26px; height: auto;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Experiment</h2>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="top: 120px; height: 100%;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <img width="800px" style="float:right; margin:20px; display:inline-block;" src="images/questions.png">           
                        
                        <img width="400px" style="float:right; margin:20px; display:inline-block;" src="images/planes.png">                
                    </div>
                </div>
            </section>



            <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 151px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 151">
                            <rect width="960" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="left: 40px; top: 26px; height: auto;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Additional Discoveries</h2>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="top: 120px; height: 100%;">
                    <div id="result_approx_graph" class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                    </div>
                </div>
            </section>


            <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 151px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 151">
                            <rect width="960" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="left: 40px; top: 26px; height: auto;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Additional Discoveries</h2>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="top: 120px; height: 100%;">
                    <div id="time_result_approx_graph" class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                    </div>
                </div>
            </section>




            <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 151px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 151">
                            <rect width="960" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="left: 40px; top: 26px; height: auto;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Threads to validity</h2>
                    </div>
                </div>
            </section>


            <section>
                <div class="sl-block" data-block-type="shape" style="width: 100%; height: 151px; left: 0px; top: 0px;">
                    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(33, 150, 243)" data-shape-stretch="true" style="z-index: 11;">
                        <svg
                            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 960 151">
                            <rect width="960" height="130px" class="shape-element" fill="rgb(33, 150, 243)"></rect>
                        </svg>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="left: 40px; top: 26px; height: auto;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h2>Conclusion</h2>
                    </div>
                </div>
                <div class="sl-block" data-block-type="text" style="top: 120px; height: 100%;">
                    <div class="sl-block-content" style="z-index: 12; color: rgb(255, 255, 255);" dir="ui">
                        <h4 class="color_brand" style="margin: 60px;">Existence of simple mathematical techniques for decision making</h4>
                        <h4 class="color_brand" style="margin: 60px;"><span class="blue">Games may help in learning those techniques!</span></h4>
                         <img height="200px" style="margin-left: auto; margin-right: auto;" src="images/happy.png">  
                        
                        <!-- <img width="200px" style="float:right; margin-right:200px; display:inline-block;" src="images/tools_picture.png">                 -->
                    </div>
                </div>

            </section>
           
        </div>
    </div>
<!-- </div> -->
        <!-- Displays presentation progress, max value changes via JS to reflect # of slides -->

        <div class="progress">
            <span></span>
        </div>


        </div>


</body>
</html>